@font-face {
        font-family: "Graphik";
        src: url(./Graphik/Graphik.otf);
}

body {
        font-family: "Graphik";
        display: block;
        /* position: fixed; */
        top: 0px;
        right: 0px;
        margin: 12px 15px 0 0 !important;
        min-width: 20rem;
        min-height: 100vh;
        padding: 1.5rem;
        margin: 0;
        z-index: 999;
}

